.ui.secondary.pointing.menu {
    background-color: #000000 !important;
    margin-top: -14px;
    
}
.ui.secondary.inverted.pointing.menu .item {
    margin-left: 3%;
}
a {
    color: #767C83 !important;
}

.ui.secondary.pointing.menu .active.item {
    border-color: #FFFFFF !important;
}

.connected {
    margin-right: 2%;
    width: 100%;
}

.connRight{
    text-align: right !important;
    display: block !important;
}

.connection {
    cursor: pointer;
}

div.item span{
    font-weight: bold !important;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.connection-url {
    padding-right: 10px;
}