.modal-trim {
    word-wrap: break-word;
    width: 100%;
    margin-bottom: 0px;
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.ui.modal > .content {
    padding: 0px !important;
    color: #000000;
    background-color: #fff;
}

.ui.modal > .close {
    font-size: 27px !important;
    color: rgb(255, 255, 255) !important;
    top: 0.5rem !important;
    right: 1.5rem !important;
}
.modal-header span {
    font-weight: bold !important;
}

.modal-header {
    background-color: black !important;
    color: white !important;
}