.blockDisplay {
  margin: 0 auto;
}

.letOverflow {
  overflow: scroll !important;
  flex-wrap: nowrap !important;
  overflow-x: scroll !important;
  overflow-y: visible !important;
}

.letOverflow::-webkit-scrollbar {
  -webkit-appearance: none;
}
.letOverflow::-webkit-scrollbar:horizontal {
  height: 11px;
}
.letOverflow::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, .5);
}
.letOverflow::-webkit-scrollbar-track { 
  background-color: #fff; 
  border-radius: 8px; 
} 

::-webkit-scrollbar {
  display: none;
}

#dash {
  margin-bottom: 1%;
}

.timeline:before{
  visibility: hidden !important;
}